body {
  background-color: #1e2a38;
  color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
}

header {
  background-color: #1e2a38;
  color: #0b054e;
  border-bottom: 2px solid #f0b429;
}

.card {
  background-color: #f8f9fa;
  border: none;
  transition: transform 0.3s ease;
}
.card-img-top {
  height: 200px;
  object-fit: cover;
}
.card:hover {
  transform: translateY(-5px);
}

.card-title {
  color: #1e2a38;
   white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text {
  color: #495057;
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-dark {
  background-color: #1e2a38;
  color: white;
  border: none;
}

.btn-dark:hover {
  background-color: #0f1923;
}

.btn-primary {
  background-color: #f0b429;
  border: none;
  color: #1e2a38;
}

.btn-primary:hover {
  background-color: #d9a018;
}

.btn-outline-dark {
  border: 1px solid #f0b429;
  color: #f0b429;
  background-color: transparent;
}

.btn-outline-dark:hover {
  background-color: #f0b429;
  color: #1e2a38;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow: auto;
}


.modal-body img {
  max-height: 250px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.modal-content {
  background-color: #ffffff;
  color: #1e2a38;
  border-radius: 8px;
  animation: fadeIn 0.3s ease-in-out;
}

.table th, .table td {
  color: #1e2a38;
}

@keyframes fadeIn {
  from {opacity: 0; transform: scale(0.9);}
  to {opacity: 1; transform: scale(1);}
}


/*estilos reponsives */


#bannerCarousel {
  width: 100%;
  max-height: 1200px;
  overflow: hidden;
  position: relative;
}

.carousel-inner {
  width: 100%;
  position: relative;
}

.carousel-item img {
  width: 100%;
  height: auto;
  max-height: 1200px;
  object-fit: cover;
}

/* Controles (flechas) */
.carousel-control-prev,
.carousel-control-next {
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.8;
  transition: all 0.3s ease;
}

.carousel-control-prev { left: 20px; }
.carousel-control-next { right: 20px; }

.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
}

/* Ajustes para tablets */
@media (max-width: 992px) {
  #bannerCarousel,
  .carousel-item img {
    max-height: 450px;
  }
}

/* Ajustes para móviles grandes */
@media (max-width: 768px) {
  #bannerCarousel,
  .carousel-item img {
    max-height: 350px;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    width: 40px;
    height: 40px;
  }
}

/* Ajustes para móviles pequeños */
@media (max-width: 576px) {
  #bannerCarousel,
  .carousel-item img {
    max-height: 250px;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    width: 30px;
    height: 30px;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 15px;
    height: 15px;
  }
}